<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../assets/css/font-awesome.min.css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="../RedEmpresarial/EstiloEmpresarial.css"> 
    <link rel="icon" href="../../assets/img/b.png" type="image/png" />
    <title> Business Community</title>
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container">
                <a href="#" class="navbar-brand">Bussiness Community</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#menuNavegacion"
                    aria-controls="menuNavegacion" aria-expanded="false" aria-label="Alternar Menu">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="menuNavegacion">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                            <a href="#" class="nav-link">Inicio <i class="fa fa-home"></i> </a>
                        </li>
                       
                        <li class="nav-item dropdown">
                            <a href="../RedEmpresarial/Profesionales.html" class="nav-link">Profesionales <i class="fa fa-briefcase" aria-hidden="true"></i> </a>
                        </li>
                        <!-- <li class="nav-item">
                            <a href="#" class="nav-link">Curriculum <i class="fa fa-file"></i> </a>
                        </li> -->
                        <!-- Boton Desplegable -->
						<li class="nav-item dropdown">
							<a href="#" class="nav-link dropdown-toggle" id="navbarDropdown" data-toggle="dropdown">
								Mi Cuenta <i class="fa fa-user"></i> 
							</a>
							<div class="dropdown-menu" aria-labelledby="navbarDropdown">
								<a href="#" class="dropdown-item">Mi Perfil</a>
								<a href="#" class="dropdown-item">Ajustes y Privacidad</a>
								<a href="#" class="dropdown-item">configuracion</a>
								<a href="#" class="dropdown-item">Cerrar Sesión</a>
							</div>
						</li>
                    </ul>

                    <form class="form-inline my-2 my-lg-0" action="">
                        <input type="text" class="form-control mr-sm-2" type="search" placeholder="Buscar">
                        <button class="btn btn-primary my-2 my-sm-0" type="submit">Buscar</button>
                    </form>
                </div>
            </div>
        </nav>
    </header>

   

    <footer>
        <h1>este es el footer</h1>
    </footer>


    <script src="../../assets/js/jquery-3.3.1.min.js"></script>
    <script src="../../assets/js/popper.min.js"></script>
    <script src="../../assets/js/bootstrap.min.js"></script>


</body>

</html>